.nav {
  border-radius: 10px;
  margin: 30px auto;
  max-width: 125px; }
  .nav-button {
    font-size: 16px;
    margin: 10px;
    text-align: center; }
  .nav .menu {
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .nav .menu__list {
      margin: 10px; }
    .nav .menu__link {
      color: #000;
      text-align: center;
      text-decoration: none; }
