.Sarus-Rule {
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  max-width: 96px; }
  .Sarus-Rule tr > td {
    padding: 12px; }

input[type="text"] {
  margin-top: 10px; }

button {
  margin-top: 15px; }
